# disable temporarily
include/hubero_local_planner/sfm/core/
src/sfm/core/

# libraries
lib/

# temporarily
include/hubero_local_planner/inflation/
src/inflation/

include/hubero_local_planner/trajectory_generator.h
src/trajectory_generator.cpp

build/
test/
debug/

matlab/*.asv
matlab/computeTwistMatrixVersion.m
