# disable temporarily
doc/
include/humap_local_planner/sfm/core/
src/sfm/core/

# libraries
lib/

# temporarily
include/humap_local_planner/inflation/
src/inflation/

include/humap_local_planner/trajectory_generator.h
src/trajectory_generator.cpp

build/
debug/
git-patch/

matlab/*.asv
matlab/ignore/

# WIP tests
test/fuzzylite_test.cpp
test/test_humap_planner.cpp
test/test_pose_addition.cpp
test/test_robot_footprint_model_extension.cpp
test/test_debug_fis.cpp
