# notes
doc/

# compiled libraries
lib/

build/
debug/
git-patch/

# directory with Matlab and Python scripts for visualisation or debugging
scripts/*.asv
scripts/ignore/

# script that copies the .cfg file with planner params; commonly used during cost functions tuning
copy_cfg.sh
